/* @font-face {
  font-family: "chintzy";
  font-style: normal;
  font-weight: 900;
  src: local("chintzy"), url("./chintzy.ttf");
} */

* {
  /* font-family: "chintzy"; */
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Rubik", sans-serif;
}
.page {
  height: 100vh;
  width: 100%;
  /* border: 2px solid green; */
  /* background-image: radial-gradient(#f2c49b, #f2b199, #f2a594); */
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=f2b199ff&noise=626262&density=6&opacity=22");
  /* background-image: url("./img/Screenshot\ 2020-12-03\ at\ 13.30.38.png");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  background-size: 100% 100%; */
}
.img-container {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
  z-index: -1;
}
.img {
  width: 100%;
}
.header {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Rubik";
  font-size: 40px;
}
.main {
  height: 80%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto Condensed";
  color: white;
  /* background-image: url("./img/number-box.svg");
  background-repeat: no-repeat;
  background-position: center; */
}
.form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
label {
  display: block;
}

.input {
  display: block;
  background-color: rgb(216, 213, 213);
  height: 60px;
  width: 200px;
  margin: 5px;
  font-size: 20px;
  color: black;
  text-align: center;
}
.buttons {
  margin-top: 100px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
button {
  display: block;
  margin-top: 5px;
  width: 100px;
  height: 40px;
  font-family: "Roboto Condensed";
  font-size: 20px;
}
.hints {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clue,
.attempt {
  margin: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 10px;
}
